* {
  scroll-behavior: smooth;
  box-sizing: inherit;
}

::after, ::before {
  box-sizing: inherit;
}

body {
 margin: 0px;
 min-height: 100%;
 width: 100%;
 overflow-x: hidden;
 background-color: $navy;
 color: $slate;
 font-family: $sans;
 font-size: $fz-xl;
 line-height: 1.3;
 box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: $transition;
  text-decoration: none;
  &:hover {
    color: $green;
  }
}

main {
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 0px 150px;
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 10px;
  font-weight: 600;
  color: $lightest-slate;
  line-height: 1.1;
}

.text-link {
  color: $green;
  &::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 2px;
    background-color: $green;
    transition: $transition;
    opacity: 0.5;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

.numbered-heading {
  display: flex;
  align-items: baseline;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px,5vw,$fz-heading);
  white-space: nowrap;
  span {
    position: relative;
    margin-right: 10px;
    color: $green;
    font-family: $mono;
    font-size: clamp($fz-md,3vw,$fz-xl);
    font-weight: 400;
  }
  &::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: $light-navy;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.button {
  color: $green;
  text-decoration: none;
  font-family: $mono;
  background-color: transparent;
  padding: 0.75rem 1rem;
  border: 1px solid $green;
  line-height: 1;
  border-radius: $b-radius;
  transition: $transition;
  &:hover {
    outline: none;
    background-color: $green-tint;
  }
}

//scroll navbar styles
.scroll-hide {
  height: $nav-height;
  transform: translateY($nav-height * -1);
  box-shadow: 0 10px 30px -10px $navy-shadow;
  background-color: rgba(10, 25, 47, 0.85)!important;
}
.scroll-show {
  height: 70px!important;
  box-shadow: 0 10px 30px -10px $navy-shadow;
  background-color: rgba(10, 25, 47, 0.85)!important;
}